
.start-img{
    position: absolute;
}
.container-2 {
  width: 90%;
  margin: 0px auto;

}
.bottom-left {
  position: absolute;

}
.welcome{
    position: absolute;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.5rem;
    top: 65%;
    color: #FFFFFF;

}  
.welcome-text{
    position: absolute;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    line-height: 5.5rem;
    top: 68%;
    color: #FFFFFF;
}
.hero-image{
}
@media(max-width:1024px){
  .welcome{
    font-size: 3rem;
  }   
  .welcome-text{
    font-size: 4rem;
  }
}
@media(max-width:540px){
  /* .container-2{
    display: none;
  } */
  /* .mainImage-container{
    display:none;
  } */
  .hero-image{
    display:none;
  }
  
}

@media(max-width:375px){
  /* .container-2{
    display: none;
  } */
}
@media(max-width:768px){
  /* .container-2{
    display: none;
  } */
  .welcome{
    font-size: 2rem;
  }
  .welcome-text{
    font-size: 3rem;
    line-height: 4rem;
  }
}
@media (max-width:800px) {
  /* .container-2{
    display: none;
  } */
  .welcome{
    font-size: 2rem;
  }
  .welcome-text{
    font-size: 3rem;
    line-height: 4rem;
  }
}

