.part1-img{
    width: 100%;
    height: 100%;
}
.part1-text{
    padding: 15% ;
}
.part1-heading{
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 94px;
}
.part1-subtext{
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 36px;
}
.part1-btn{
    margin-top: 15px;
    font-weight: bold;
    font-size: 2rem;
    line-height: 36px;
    padding: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    background: #E62B1E;
    border: 2px solid #E62B1E;
    border-radius: 2px;
}
.container-contact-us{
    margin-top: 20px;
    margin-bottom: 20px;
}
@media  (max-width:1024px) {
    .part1-img{
        padding-top: 10% ;
    }
    .part1-text{
        padding-top: 10%;
    }
}
@media (max-width:768px) {
    .part1-text{
        padding-left: 10%;
    }
    .part1-img{
        padding-top: 10% ;
    }
    .part1-heading{
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .part1-subtext{
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .part1-btn{
        font-size: 1.2rem;
    }
}
@media (max-width:540px) {
    .part1-text{
        padding-left: 10%;
    }
    .part1-heading{
        font-size: 2.8rem;
        line-height: 55px;
    }
    .col-part1{
        width: 100%;
    }
    .part1-img{
        display: none;
    }
}
@media (max-width:376px) {
   .col-part1{
       width: 100%;
   }
   .part1-heading{
       font-size: 2.8rem;
       line-height: 55px;
   }
    .part1-img{
        display: none;    }
    .part1-btn{
        font-size: 1.4rem;
    }    
}